body {
    background-color: #E0DFD5;
}
h1, h2, h3, h4, h5, h6 {
    color: #333333;
}
.navbar-info .navbar-nav .nav-link {
    letter-spacing: 2px!important;
    color: #fefefe;
}
.navbar .navbar-brand {
    color: #fefefe;
}
.navbar-custom {
    background-color: #313638;
}
h1 a, h2 a , h3 a , h4  a, a {
    color: #F06543;
}
